<div class="container">
    <mat-card>
        <mat-card-content>
            <h2>{{ isLoggedIn ? 'Mi Cuenta' : 'Crear Nuevo Usuario' }}</h2>

            <div class="sections-container">
                <!-- Sección: Edición de datos del usuario -->
                <section class="account-section">
                    <h3>Datos Personales</h3>
                    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                        <div class="form-grid">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="firstName">
                                @if (profileForm.get('firstName')?.hasError('required')) {
                                    <mat-error>El nombre es obligatorio</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Apellidos</mat-label>
                                <input matInput formControlName="lastName">
                                @if (profileForm.get('lastName')?.hasError('required')) {
                                    <mat-error>Los apellidos son obligatorios</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" type="email">
                                @if (profileForm.get('email')?.hasError('required')) {
                                    <mat-error>El email es obligatorio</mat-error>
                                }
                                @if (profileForm.get('email')?.hasError('email')) {
                                    <mat-error>Email no válido</mat-error>
                                }
                            </mat-form-field>

                            @if (!isLoggedIn) {
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hidePassword ? 'password' : 'text'"
                                           formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                            type="button">
                                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    @if (profileForm.get('password')?.hasError('required')) {
                                        <mat-error>La contraseña es obligatoria</mat-error>
                                    }
                                    @if (profileForm.get('password')?.hasError('minlength')) {
                                        <mat-error>Contraseña inválida: Debe tener al menos 8 caracteres, contener al
                                            menos una mayúscula, una minúscula, un número y un carácter especial
                                            ($!%*?&., etc)
                                        </mat-error>
                                    }
                                </mat-form-field>
                            }
                        </div>
                        <div class="actions">
                            <button mat-raised-button color="primary" [disabled]="profileForm.invalid">
                                {{ isLoggedIn ? 'Guardar Cambios' : 'Registrarse' }}
                            </button>
                            @if (!isLoggedIn) {
                                <button mat-button type="button" routerLink="/login">Volver al Login</button>
                            }
                        </div>
                    </form>
                </section>
                @if (isLoggedIn) {
                    <!-- Sección: Cambio de contraseña -->
                    <section class="account-section">
                        <h3>Cambiar Contraseña</h3>
                        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                            <div class="form-grid">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Contraseña Actual</mat-label>
                                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'"
                                           formControlName="oldPassword">
                                    <button mat-icon-button matSuffix
                                            (click)="hideCurrentPassword = !hideCurrentPassword" type="button">
                                        <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    @if (passwordForm.get('currentPassword')?.hasError('required')) {
                                        <mat-error>Introduce tu contraseña actual</mat-error>
                                    }
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Nueva Contraseña</mat-label>
                                    <input matInput [type]="hideNewPassword ? 'password' : 'text'"
                                           formControlName="newPassword">
                                    <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                            type="button">
                                        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    @if (passwordForm.get('newPassword')?.hasError('required')) {
                                        <mat-error>Introduce la nueva contraseña</mat-error>
                                    }
                                    @if (passwordForm.get('newPassword')?.hasError('minlength')) {
                                        <mat-error>Contraseña inválida: Debe tener al menos 8 caracteres, contener al
                                            menos una mayúscula, una minúscula, un número y un carácter especial
                                            ($!%*?&., etc)
                                        </mat-error>
                                    }
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Confirmar Nueva Contraseña</mat-label>
                                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                                           formControlName="newPasswordConfirm">
                                    <button mat-icon-button matSuffix
                                            (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
                                        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    @if (passwordForm.get('newPasswordConfirm')?.hasError('required')) {
                                        <mat-error>Confirma la nueva contraseña</mat-error>
                                    }
                                </mat-form-field>

                            </div>
                            <div class="actions">
                                <button mat-raised-button color="accent" [disabled]="passwordForm.invalid">Actualizar
                                    Contraseña
                                </button>
                            </div>
                        </form>
                    </section>
                }
            </div>
        </mat-card-content>
    </mat-card>
</div>
