<div class="container">
    <mat-card>
        <mat-card-content>
            <h2>{{ isEditMode() ? 'Editar tema' : 'Nuevo tema' }}</h2>

            <form [formGroup]="topicForm" (ngSubmit)="saveTopic()">
                <div class="form-grid">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name"/>
                        @if (topicForm.get('name')?.hasError('required')) {
                            <mat-error>El nombre es obligatorio</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput rows="4" formControlName="description"></textarea>
                        @if (topicForm.get('description')?.hasError('required')) {
                            <mat-error>La descripción es obligatoria</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="actions">
                    <button mat-stroked-button type="button" (click)="onCancel()">Cancelar</button>
                    <button mat-raised-button color="primary" [disabled]="topicForm.invalid">Guardar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
