.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  flex: 1;
}

.spacer {
  flex: 1 1 auto;
}

.dark-sidebar {
  width: 250px;
}

.view-btn {
  background-color: #ff4081;
  color: white;
  margin-right: 16px;
}

.content-wrapper {
  padding: 20px;
}

@media (max-width: 600px) {
  .dark-sidebar {
    width: 200px;
  }

  .main-toolbar span {
    font-size: 1.1rem;
  }
}
