<div class="container">
    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>
                <h1>
                    @if ((userRole$ | async) === UserRole.TEACHER) {
                        <button mat-icon-button [matMenuTriggerFor]="categoriesMenu" aria-label="Opciones de categorías">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    }
                    <span>Categorías</span>
                </h1>
                <mat-menu #categoriesMenu="matMenu">
                    <button mat-menu-item routerLink="/category-add">
                        <mat-icon>add</mat-icon>
                        <span>Nueva categoría</span>
                    </button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="grid-container">
                @for (category of categoryList$ | async; track category.id) {
                    <mat-card class="category-card" (click)="viewCategory(category)">
                        <mat-card-header>
                            <mat-card-title>
                                {{ category.name }}
                            </mat-card-title>
                            <span class="spacer"></span>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{ category.description }}</p>
                        </mat-card-content>
                    </mat-card>
                }
            </div>
        </mat-card-content>
    </mat-card>
</div>
