<div class="container">
  <h2>Categorías</h2>
  <div class="grid-container">
    @for (category of categories; track category.name) {
      <mat-card class="category-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>{{ category.icon }}</mat-icon>
          </div>
          <mat-card-title>{{ category.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ category.description }}</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
