/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-sidebar {
}

.mat-nav-list .mat-list-item {
}

.mat-nav-list .mat-list-item:hover {
}

.active-link {
}

mat-card-actions button[mat-button] {
    transition: background-color 0.2s;
}

mat-card-actions button[mat-button]:hover {
    background-color: rgba(0, 0, 0, 0.06);
}
